article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

p,
label {
  font-family: 'Nunito Sans', sans-serif;
  color: #fff;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
input,
button {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
li,
p {
  margin: 0;
  color: #fff;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

img {
  width: 100%;
}

body {
  font-size: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#1f1f2e), to(#0a0f15));
  background: linear-gradient(#1f1f2e, #0a0f15);
  min-height: 100vh;
}

.preventScrolling {
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  min-height: 90px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 50px;
  width: 100%;
}

footer {
  padding: 30px 0 20px;
}

footer p {
  color: #4f5165;
  font-size: .8rem;
}

h1 {
  font-size: 1.3em;
  font-weight: 600;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

h1 img {
  width: 150px;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: solid 1px #4f5165;
}

aside ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70vh;
}

aside li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.2;
}

aside li p {
  font-weight: 300;
  color: #80808a;
  width: 50%;
  padding: 0 10px;
}

aside li h3 {
  width: 50%;
  border-right: solid 3px #4f5165;
}

aside .currentQuestion {
  opacity: 1;
}

.question button {
  margin: 20px 0;
}

.answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -2%;
}

.answer {
  width: 46%;
  margin: 2%;
  min-height: 48px;
  border: 3px solid #547aa5;
  background: #1f1f2e;
  border-radius: 10px;
}

.answer input {
  position: absolute;
  opacity: 0;
}

.answer input:focus ~ label,
.answer input:hover ~ label {
  background: rgba(255, 255, 255, 0.1);
}

.answer input:checked ~ label::after {
  content: "\f00c";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 10px;
  right: 5px;
  height: 20px;
  width: 20px;
  border: 3px solid #50d8d7;
  background: #50d8d7;
  border-radius: 50%;
}

.answer label {
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 10px 35px 10px 25px;
  display: block;
  position: relative;
  border-radius: 5px;
}

.answer label::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 5px;
  height: 20px;
  width: 20px;
  border: 3px solid #547aa5;
  background: #1f1f2e;
  border-radius: 50%;
}

button {
  background-color: #50d8d7;
  border: none;
  padding: 5px 20px;
  border-radius: 20px;
}

button:hover, button:focus {
  background-color: #239f9e;
}

.loading {
  background-color: #888;
}

.loading:hover, .loading:focus {
  background-color: #888;
}

.widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.widgets li {
  margin-left: 20px;
}

.widgets li button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: none;
  border: 2px solid #547aa5;
  padding: 0;
}

.widgets li button:not(.usedLifeline):hover, .widgets li button:not(.usedLifeline):focus {
  opacity: 0.6;
  -webkit-box-shadow: 0 0 5px #fff;
          box-shadow: 0 0 5px #fff;
}

.widgets li i {
  color: white;
}

.widgets .usedLifeline {
  opacity: 0.1;
}

.lifelines {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

.imageContainer {
  overflow: hidden;
  border-radius: 50%;
  max-width: 125px;
  border: 3px solid #547aa5;
  margin: 0 auto;
}

.imageContainer img {
  display: block;
}

.progressOuter {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(60% - 4px);
          flex: 1 1 calc(60% - 4px);
  height: 46px;
  border-radius: 25px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  background: none;
  border: 2px solid #547aa5;
  overflow: hidden;
}

.progressInner {
  width: 100%;
  height: 46px;
  background: -webkit-gradient(linear, left top, right top, from(#ff4a75), to(#50d8d7));
  background: linear-gradient(left, #ff4a75, #50d8d7);
  border-radius: 25px;
  border: solid 1px #1f1f2e;
}

.countdown {
  position: absolute;
  top: 10px;
  left: calc(50% - 10px);
}

.takeOver {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popupBox {
  width: 500px;
  margin: 20px 20px;
  background: #1f1f2e;
  border: solid 2px #4f5165;
  border-radius: 25px;
  text-align: center;
  z-index: 101;
}

.popupBox h4,
.popupBox p,
.popupBox button {
  margin: 25px;
}

.popupBox span {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

.audienceChart .bar {
  width: 100%;
  height: 25px;
  background-color: #50d8d7;
  text-align: center;
  border-radius: 0 5px 5px 0;
  position: relative;
  margin: 20px 0;
}

.audienceChart .bar:before {
  font-family: 'Nunito', sans-serif;
  position: absolute;
  left: -25px;
  color: white;
  top: 0;
}

.audienceChart .bar p {
  color: #fff;
  margin: 0;
}

.chartContainer {
  width: calc(100% - 80px);
  margin: 40px auto;
  border-left: solid 1px white;
  border-bottom: solid 1px white;
  padding: 1px 0 1px;
}

.bar0:before {
  content: "A";
}

.bar1:before {
  content: "B";
}

.bar2:before {
  content: "C";
}

.bar3:before {
  content: "D";
}

@media screen and (max-width: 1100px) {
  .question h2 {
    font-size: 1.8rem;
  }
  aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }
  aside h3 {
    font-size: .8rem;
  }
  aside p {
    font-size: .8rem;
  }
  h1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }
}

@media screen and (max-width: 900px) {
  .game {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  aside {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    border-right: none;
    border-bottom: solid 1px #4f5165;
    margin-bottom: 20px;
  }
  aside ul {
    height: auto;
    margin-top: 0;
  }
  aside li {
    display: none;
  }
  aside li h3 {
    width: auto;
    padding-right: 10px;
    font-size: 1.3rem;
  }
  aside li p {
    width: auto;
  }
  aside .currentQuestion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  main {
    padding-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .hiddenOnMobile {
    display: none;
  }
  .question h2 {
    font-size: 1rem;
  }
  .widgets li {
    margin-left: 10px;
  }
  .answer {
    width: 100%;
    min-height: 39px;
  }
  .answer label {
    padding: 5px 35px 5px 25px;
    font-size: .8rem;
  }
  .answer label::before {
    top: 3px;
  }
  .answer input:checked ~ label::after {
    top: 3px;
  }
  footer {
    text-align: center;
  }
}

@media screen and (max-height: 450px) {
  .question h2 {
    font-size: 1rem;
  }
  .chartContainer {
    margin: 10px auto;
  }
  .chartContainer .bar {
    margin: 10px 0;
  }
  .popupBox h4,
  .popupBox button {
    margin: 10px;
  }
  .hiddenOnMobile {
    display: block;
    opacity: 0;
  }
  .currentQuestion {
    position: absolute;
    top: 30px;
  }
  .currentQuestion h3 {
    font-size: 1rem;
  }
  aside {
    margin: 0;
    border: none;
  }
  aside ul {
    margin: 0;
  }
  .answer {
    width: 46%;
    min-height: 39px;
  }
  .answer label {
    padding: 5px 35px 5px 25px;
    font-size: .8rem;
  }
  .answer label::before {
    top: 3px;
  }
  .answer input:checked ~ label::after {
    top: 3px;
  }
  .askAFriendBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .askAFriendBox .imageContainer {
    margin: 20px;
  }
  .askAFriendBox .messageContainer {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .askAFriendBox h4 {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .askAFriendBox button,
  .askAFriendBox p {
    text-align: left;
    margin-left: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */