@import "_setup.scss";

*{
    // border: 1px solid white;
}

html{
    font-size: 125%;
}
body{
    font-size: 1rem;
    background: linear-gradient(#1f1f2e, #0a0f15);
    min-height: 100vh;
    
}

h1,
h2,
h3,
h4,
p{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
img {
    width: 100%;
}

header {
    display: flex;
    padding: 20px 0;
}

main {
    flex-basis: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;

}

label,
input,
button {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 1.3em;
    font-weight: 600;
    flex: 0 0 300px;

    img{
        width: 150px;;
    }
}
h2 {
    font-size: 2.5rem;
    font-weight: 600;
}
.game{
    display: flex;
    min-height: 90vh;
    align-items: center;
}

.wrapper{
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
}

aside {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column; 
    border-right: solid 1px #4f5165;
    ul{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80vh;
    }
    li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0.2;

        p{
            font-weight: 300;
            color: #80808a;
            width: 50%;
            padding: 0 10px;
        }

        h3{
            width: 50%;
            border-right: solid 3px #4f5165;
        }
    }
    .currentQuestion {
        opacity: 1;
    }
}

.answers{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2%;
}

.answer{
    width: 46%;
    padding: 10px 25px;;
    margin: 2%;
    border: 3px solid #547aa5;
    background: #1f1f2e;
    border-radius: 10px;

    input {
        position: absolute;
        opacity: 0;

        &:checked ~ label::after {
            content: "\f00c";
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            color: #fff;
            position: absolute;
            top: 1px;
            right: 0;
            height: 20px;
            width: 20px;
            border: 3px solid #50d8d7;
            background: #50d8d7;
            border-radius: 50%;
        }
    }


    label {
        color: #fff;
        width: 100%;
        display: block;
        font-family: 'Nunito',
        sans-serif;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 1px;
            right: 0;
            height: 20px;
            width: 20px;
            border: 3px solid #547aa5;
            background: #1f1f2e;
            border-radius: 50%;
        }
    }
}

button {
    background-color: #50d8d7;
    border: none;
    padding: 5px 20px;
    border-radius: 20px;

    &:hover, &:focus {
        background-color: darken( #50d8d7, 20%);
    }
}
.loading {
    background-color: #888;

    &:hover,
    &:focus {
        background-color: #888;
    }
}
.widgets{
    display: flex;
    flex: 1 1 500px;
    align-items: center;
    li{
        margin-left: 20px;
        button{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: none;
            border: 2px solid #547aa5;
            padding: 0;
        }
        i{
            color: white;
        }

    }
}
.lifelines{
    flex: 1 1 40%;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.progressOuter {
    flex: 1 1 calc(60% - 4px);
    height: 46px;
    border-radius: 25px;
    box-sizing: content-box;
    position: relative;
    background: none;
    border: 2px solid #547aa5;
}
.progressInner {
    width: 100%;
    height: 46px;
    background: linear-gradient(left, #ff4a75, #50d8d7);
    border-radius: 25px;
    border: solid 1px #1f1f2e;
}
.countdown {
    position: absolute;
    top: 10px;
    left: 50%;
}
.takeOver {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    justify-content: center;
    align-items: center;
}
.popupBox {
    width: 500px;
    margin: 20px 20px;
    background: #1f1f2e;
    border: solid 2px #4f5165;
    border-radius: 25px;
    text-align: center;
    z-index: 101;

    h4, p, button {
        margin: 25px;
    }
}

.audienceChart div{
    width: 80%;
    height: 25px;
    background-color: white;
    margin-left: 10%;
    text-align: center;
    border-radius: 0 5px 5px 0;
    p{
        color: black;
    }
    
}
.bar{
    position: relative;
}
.bar:before{
    font-family: 'Nunito', sans-serif;
    position: absolute;
    left: -25px;
    color: white;
    top: 0;   
}

.bar0:before{
    content: "A";
    
}
.bar1:before{
    content: "B";
    
}
.bar2:before{
    content: "C";
    
}
.bar3:before{
    content: "D";
    
}
